# Basic
pandas 
scipy
scikit-image
matplotlib 
seaborn
#spyder
pyvirtualdisplay

# Jupyter
#jupyter_client==5.3.1
jupyter_client
#jupyter_core==4.6.1
jupyter_core
jupyter
jupyterlab
jupyter_nbextensions_configurator

# Other
JSAnimation
ipywidgets
